streamlit==1.43.0
langchain==0.3.18
bcrypt==4.2.1
beautifulsoup4==4.13.3
blinker==1.9.0
bs4==0.0.2
build==1.2.2.post1
chroma-hnswlib==0.7.6
chromadb==0.6.3
gast==0.6.0
google-api-core==2.24.2
google-auth==2.38.0
google-pasta==0.2.0
googleapis-common-protos==1.67.0
greenlet==3.1.1
groq==0.18.0
gTTS==2.5.4
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.1
langchain==0.3.18
langchain-chroma==0.2.2
langchain-community==0.3.17
langchain-core==0.3.35
langchain-groq==0.2.4
langchain-huggingface==0.1.2
langchain-ollama==0.2.3
langchain-openai==0.3.6
langchain-text-splitters==0.3.6
langserve==0.3.1
openai==1.63.0
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
streamlit==1.43.0
tempfile
base64
time
